* {
    font-family: "Roboto", sans-serif;
}

:root {
    --main-color: #6e6d6d;
    --accent-color: #f8bea6;
    --text-color: rgb(187, 187, 187);
    --shadow: rgba(29, 30, 68, 0.151) 0px 8px 8px 0;
}

/* ---------- NAVBAR STYLING ----------*/
.navbar-container {
    top: 0;
    position: fixed;
    width: 100%;
}
.navbar-brand a {
    color: #fff;
}
/* ------- END OF NAVBAR STYLING ------*/

.hero-p,
h1,
h2 {
    text-align: center;
    color: var(--main-color);
}

h3 {
    font-weight: 300;
    color: var(--main-color);
}

h4 {
    font-weight: 100;
    font-size: 45px;
    text-align: center;
}
h5 {
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    line-height: 3rem;
}

p {
    font-weight: 300;
    color: var(--main-color);
    font-size: 18px;
    line-height: 2rem;
    text-align: justify;
}

.hero-p,
.hero-h2 {
    font-size: 25px;
    font-weight: 300;
}

.hero-p {
    margin-top: 80px;
}

.hero-h1 {
    font-size: 60px;
    font-weight: 500;
    margin-top: 150px;
}

.hero-h2 {
    margin-top: 15px;
}

.col-md-6 {
    margin: 50px auto;
}

.comment {
    color: var(--main-color);
    opacity: 50%;
}



/* ----------- HERO BUTTONS -----------*/
/*-------------------------------------*/
.btn.btn-outline-primary,
.btn.btn-outline-primary a {
    border-width: 2px;
    width: 120px;
    border-color: var(--accent-color);
    color: var(--accent-color);
    text-decoration: none;
}
.btn.btn-outline-primary:hover,
.btn.btn-outline-primary a:hover  {
    background-color: var(--accent-color);
    color: #fff;
    border-color: transparent;
    transition: all 0.3s ease;
}

.main-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 80px auto 0 auto;
    width: 38%;
}

.main-buttons a {
    text-decoration: none;
    width: 150px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.main-buttons a:hover {
    transition: all 0.3s ease;
    text-decoration: none;
    color: #fff;
}

.main-buttons span {
    display: flex;
    justify-content: space-evenly;
}
.main-buttons .project-btn {
    background-color: var(--accent-color);
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.main-buttons .project-btn:hover {
    background-color: rgb(228, 189, 189);
    transition: all 0.4s ease;
    text-decoration: none;
}

.main-buttons .about {
    background-color: #fff;
    color: var(--accent-color);
    border-radius: 10px;
    box-shadow: var(--shadow);
    border-width: 5px;
}

.main-buttons .about:hover {
    background-color: rgb(224, 223, 223);
    box-shadow: var(--shadow);
    transition: all 0.4s ease;
}

.highlights-p {
    margin: 150px auto 0 auto;
}
.col-md-6 img {
    box-shadow: var(--shadow);
}

.source-code a {
    color: var(--main-color);
    text-decoration: none;
    text-align: center;
}

.col-md-6 img {
    width: 500px;
}

/* ---------- ABOUT PAGE ----------- */

.about-content {
    margin: 100px auto 20px 120px;
}

.portrait-img {
    margin: 200px auto auto auto;
    width: 35%;
}
.portrait-img img {
    width: 220px;
    height: auto;
    box-shadow: none;
}

.about-project-btn {
    margin-top: 0;
}


/* ------- END OF ABOUT PAGE ------- */


/* ------- WEB PROJECTS PAGE ------- */
/*----------------------------------*/
.col-12 {
    margin: 100px auto 0 auto;
}

.col-12 h4,
.col-12 p {
    text-align: center;
}
.web-content {
    width: 70%;
}
.break-line {
    display: block;
    margin: 80px auto 0 auto;
    width: 15%;
}
hr {
    margin: 40px auto 0 auto;
    background-color: var(--accent-color);
    border: 1.5px solid var(--accent-color);
    opacity: 1;
}

.web-img {
    width: 99%;
    display: block;
    margin: 0 auto 5px auto;
    transition: all 0.3s ease;
    border-radius: 5px;
}

.web-img:hover {
    width: 100%;
}

.other-works-btn {
    margin: 80px auto 100px auto;
}

/*-----------END OF WEB PROJECTS---------*/

/*-----------DRAWINGS PAGE---------------*/
/*---------------------------------------*/

.drawings-img {
    width: 75%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
}

/*---------END OF DRAWINGS PAGE----------*/

/*----------------CONTACTS---------------*/
/*---------------------------------------*/

.h5-contacts {
    margin-top: 60px;
}

/*------------END OF CONTACT PAGE--------*/

footer {
    margin: 60px auto 20px auto;
    text-align: center;
    display: block;
}
.contact-icons a {
    margin: auto 5px;
}

/*--------------------------------------------------------*/
/*------------------MEDIA QUERY---------------------------*/

@media (max-width: 500px) {
    .btn.btn-outline-primary,
    .btn.btn-outline-primary a {
        border-width: 2px;
        width: 80px;
    }

    .project-btn {
        margin-bottom: 10px;;
    }
    .main-buttons span {
        width: 120px;
    }
    .hero-img {
        display: none;
    }
    .hero-h1 {
        font-size: 30px;
    }
    .hero-h2 {
        font-size: 22px;
        margin-bottom: 50px;
    }
    .h3 {
        font-size: 22px;
    }
    p {
        font-size: 14px;
        line-height: 1.5;
    }
    .row .about-content {
        width: 90%;
    }
    .about-content h4 {
        margin-top: 20px;
    }
    .web-content {
        margin-top: 30px;
    }
    .break-line {
        margin-top: -10px;
    }
    .contact-header {
        margin-top: 90px;
    }

}
@media (max-width: 600px) {
    
    .btn.btn-outline-primary {
        display: block;
        margin: 0 auto;
    }
  
    .main-buttons span {
        margin: 0 auto 10px auto;
    }
    .main-buttons {
        display: flex;
        flex-direction: column;
        margin: 0 auto 40px auto;
    }
    .main-buttons .about {
        background-color: #fff;
        color: var(--accent-color);
        border-radius: 10px;
        box-shadow: var(--shadow);
    }
    h4 {
        margin: 70px auto 10px auto;
        font-size: 30px;
    }
    .hero-p {
        margin-top: 20px;
    }

    .index-img img {
        display: block;
        width: 80px;
    }

    .col-md-6 {
        margin: 20px auto 0 auto;
    }
    .col-md-6 p,
    h3,
    h4 {
        text-align: center;
    }

    .hero-img img {
        display: none;
    }
    
    .portrait-img {
        display: none;
    }
    .about-content {
        width: 400px;
        margin: 80px auto 0 auto;
    }
    .contact-header h4 {
        margin-top: 0;
    }
    .contact-header .h5-contacts {
        font-size: 25px;
    }
}

@media (max-width: 1024px) {
    .main-buttons span {
        margin: 0 10px 0 auto;
    }
    .row {
        display: flex;
        flex-direction: column;
    }
    .col-md-6 {
        margin: 20px auto;
        width: 80%;
    }
    .col-md-6 span {
        width: 100%;
    }

    .hero-p {
        margin-top: 80px;
    }
    .hero-img img {
        display: block;
        margin: 0 auto;
    }

    .source-code a {
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 1200px) {
    .hero-img img {
        width: 100%;
    }
    .about-content {
        display: flex;
        flex-direction: column;
        width: 60%;
        margin: 80px auto 0 auto;
    }
    .row .portrait-img,
    .portrait-img img {
        display: block;
        margin: 30px auto 0 auto;
    }

    .about-project-btn span {
        margin: 40px auto auto auto;
    }

    .h5-contacts {
        font-size: 22px;

    }


}

