* {
    font-family: "Roboto", sans-serif;
}

:root {
    --main-color: #6e6d6d;
    --accent-color: #ffceb9;
    --text-color: rgb(187, 187, 187);
    --shadow: rgba(37, 39, 89, 0.062) 0px 8px 8px 0;
}

/* ---------- NAVBAR STYLING ----------*/
.navbar-container {
    top: 0;
    position: fixed;
    width: 100%;
}
.navbar-brand a {
    color: #fff;
}
/* ------- END OF NAVBAR STYLING ------*/

.hero-p,
h1,
h2 {
    text-align: center;
    color: var(--main-color);
}

h3 {
    font-weight: 300;
    color: var(--main-color);
}

p {
    font-weight: 100;
    color: var(--main-color);
    font-size: 18px;
    line-height: 1rem;
}

.hero-p,
.hero-h2 {
    font-size: 25px;
    font-weight: 100;
}

.hero-p {
    margin-top: 80px;
}

.hero-h1 {
    font-size: 60px;
    font-weight: 500;
}

.hero-h2 {
    margin-top: 15px;
}

.col-md-6 {
    margin: 70px auto;
}
/* ----------- HERO BUTTONS -----------*/
/*-------------------------------------*/
.btn.btn-outline-primary,
.btn.btn-outline-primar a {
    border-width: 2px;
    width: 120px;
    border-color: var(--accent-color);
    color: var(--accent-color);
}
.btn.btn-outline-primary:hover {
    background-color: var(--accent-color);
    color: #fff;
    border-color: transparent;
    transition: all 0.3s ease;
}

.main-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 80px auto 0 auto;
    width: 38%;
}

.main-buttons a {
    text-decoration: none;
    width: 150px;
    height: 70px;
    text-align: center;
    padding-top: 20px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}

.main-buttons a:hover {
    font-size: 21px;
    transition: all 0.3s ease;
    text-decoration: none;
    color: #fff;
}

.main-buttons span {
    display: flex;
    justify-content: space-evenly;
    background-color: var(--accent-color);
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.main-buttons .about {
    background-color: #fff;
    color: var(--accent-color);
    border-radius: 10px;
    box-shadow: var(--shadow);
}

.main-buttons span:hover {
    background-color: rgb(228, 189, 189);
    transition: all 0.4s ease;
    text-decoration: none;
}

.main-buttons .about:hover {
    background-color: rgb(228, 189, 189);
    box-shadow: var(--shadow);
    transition: all 0.4s ease;
}

.highlights-p {
    margin: 100px auto 60px auto;
}
.col-md-6 img {
    box-shadow: var(--shadow);
}

.source-code a {
    color: var(--main-color);
    text-decoration: none;
    text-align: center;
}

/* ---------- ABOUT PAGE ----------- */

.col-md-6 img {
    width: 220px;
    height: auto;
    box-shadow: none;
}


/* ------- END OF ABOUT PAGE ------- */


@media (max-width: 600px) {
    .main-buttons {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .main-buttons a {
        width: 100px;
        height: 60px;
        text-align: center;
        color: #fff;
        font-size: 18px;
        font-weight: 500;
    }
}

@media (max-width: 600px) {
    .main-buttons span {
        margin-bottom: 20px;
    }
}
